/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180@global/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 7, ../../app/stylesheets/admin.sass */
html, body {
  background-image: url('/images/admin/background-tile.png?1316560596');
  font-family: arial, helvetica, sans-serif;
}

/* line 11, ../../app/stylesheets/admin.sass */
strong {
  font-weight: bold;
}

/* line 14, ../../app/stylesheets/admin.sass */
.clear {
  clear: both;
}

/* line 17, ../../app/stylesheets/admin.sass */
#header {
  text-shadow: black;
  width: 100%;
  height: 35px;
  padding-top: 15px;
  background-image: url('/images/admin/header-transparent-background.png?1316560596');
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* line 28, ../../app/stylesheets/admin.sass */
#wrapper {
  overflow: hidden;
  *zoom: 1;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}
/* line 34, ../../app/stylesheets/admin.sass */
#wrapper #inner_wrapper {
  width: 100%;
}

/* line 37, ../../app/stylesheets/admin.sass */
ul#menu {
  float: left;
  width: 20%;
  margin-top: 16px;
  font-size: 13px;
}
/* line 42, ../../app/stylesheets/admin.sass */
ul#menu li {
  margin: 4px 0;
}
/* line 44, ../../app/stylesheets/admin.sass */
ul#menu a {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  text-shadow: black;
  display: block;
  padding: 10px 0 10px 20px;
  color: white;
  text-decoration: none;
}
/* line 51, ../../app/stylesheets/admin.sass */
ul#menu a:hover {
  background-image: url('/images/admin/menu-hover-transparent-background.png?1316560596');
}
/* line 53, ../../app/stylesheets/admin.sass */
ul#menu a.selected {
  text-shadow: black;
  background-image: url('/images/admin/menu-selected-transparent-background.png?1316560596');
  color: white;
  font-weight: bold;
}

/* line 59, ../../app/stylesheets/admin.sass */
#body {
  -moz-box-shadow: 0 0 4px #2f435c;
  -webkit-box-shadow: 0 0 4px #2f435c;
  -o-box-shadow: 0 0 4px #2f435c;
  box-shadow: 0 0 4px #2f435c;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  float: left;
  width: 75%;
  min-height: 550px !important;
  border: solid 1px #47648a;
  background-color: white;
}

/* line 68, ../../app/stylesheets/admin.sass */
#page_content {
  padding: 20px 20px 40px 20px;
}

/* line 71, ../../app/stylesheets/admin.sass */
ul#submenu {
  overflow: hidden;
  *zoom: 1;
  border: solid #cccccc;
  border-width: 1px 0;
  background-color: #eeeeee;
  font-size: 15px;
}
/* line 77, ../../app/stylesheets/admin.sass */
ul#submenu li {
  float: left;
  margin: 10px 0 10px 4%;
}
/* line 80, ../../app/stylesheets/admin.sass */
ul#submenu a {
  color: #666666;
  text-decoration: none;
}
/* line 83, ../../app/stylesheets/admin.sass */
ul#submenu a:hover {
  text-decoration: underline;
}
/* line 85, ../../app/stylesheets/admin.sass */
ul#submenu a.selected {
  font-weight: bold;
}

/* line 88, ../../app/stylesheets/admin.sass */
p.notice {
  border-bottom: solid 1px #89c79d;
  padding: 10px 0;
  background-color: #d7f7e1;
  color: #14632d;
  text-align: center;
  font-size: 15px;
}

/* line 96, ../../app/stylesheets/admin.sass */
h1 {
  padding: 20px;
  color: #224c87;
  text-shadow: #aaaaaa 0px 0px 1px;
  font-weight: bold;
  font-size: 20px;
}

/* line 103, ../../app/stylesheets/admin.sass */
.link {
  color: #224c87;
  font-size: 16px;
}
/* line 106, ../../app/stylesheets/admin.sass */
.link:hover {
  text-decoration: none;
}

/* LIST */
/* line 112, ../../app/stylesheets/admin.sass */
#list .button {
  margin-bottom: 20px;
}
/* line 114, ../../app/stylesheets/admin.sass */
#list ul.items {
  clear: left;
  border-top: solid 1px #c8c8c8;
}
/* line 117, ../../app/stylesheets/admin.sass */
#list .ui-state-highlight {
  height: 86px;
  border: dashed 1px #c8c8c8;
  background-color: #f8f8f8;
}
/* line 121, ../../app/stylesheets/admin.sass */
#list li.item {
  overflow: hidden;
  *zoom: 1;
  border: solid 1px;
  border-color: #c8c8c8;
  border-top-color: white;
  padding: 10px;
  background-color: #f2f2f2;
  color: #595959;
  text-shadow: 0 1px 0 white;
}
/* line 130, ../../app/stylesheets/admin.sass */
#list li.item h2 {
  font-size: 15px;
  margin-bottom: 10px;
}
/* line 133, ../../app/stylesheets/admin.sass */
#list li.item p {
  font-size: 13px;
  margin-bottom: 10px;
}
/* line 136, ../../app/stylesheets/admin.sass */
#list li.item li {
  float: left;
  margin-right: 10px;
}
/* line 139, ../../app/stylesheets/admin.sass */
#list li.item li a.link {
  text-decoration: none;
  font-size: 15px;
}
/* line 142, ../../app/stylesheets/admin.sass */
#list li.item li a.link:hover {
  text-decoration: underline;
}
/* line 145, ../../app/stylesheets/admin.sass */
#list .pagination {
  margin-top: 20px;
  color: #595959;
  font-size: 13px;
}
/* line 149, ../../app/stylesheets/admin.sass */
#list .pagination a {
  color: #224c87;
  font-weight: bold;
}
/* line 152, ../../app/stylesheets/admin.sass */
#list .pagination a:hover {
  text-decoration: none;
}

/* FORM */
/* line 157, ../../app/stylesheets/admin.sass */
#error_explanation {
  margin: 20px 0;
  color: #d30b0b;
}
/* line 160, ../../app/stylesheets/admin.sass */
#error_explanation h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
/* line 164, ../../app/stylesheets/admin.sass */
#error_explanation p, #error_explanation li {
  margin-bottom: 5px;
  font-size: 15px;
}
/* line 167, ../../app/stylesheets/admin.sass */
#error_explanation ul {
  list-style: inside disc;
}

/* line 170, ../../app/stylesheets/admin.sass */
table {
  margin-top: 10px;
}

/* line 172, ../../app/stylesheets/admin.sass */
th {
  vertical-align: top;
  width: 100px;
  padding-top: 7px;
}

/* line 176, ../../app/stylesheets/admin.sass */
td {
  padding-bottom: 15px;
}

/* line 178, ../../app/stylesheets/admin.sass */
.tooltip {
  margin-top: 3px;
  color: #0a1d38;
  font-size: 15px;
}

/* line 182, ../../app/stylesheets/admin.sass */
#nested_attributes_container {
  width: 500px;
}
/* line 184, ../../app/stylesheets/admin.sass */
#nested_attributes_container .link {
  display: block;
}
/* line 186, ../../app/stylesheets/admin.sass */
#nested_attributes_container #edit_image_subtitle {
  display: none;
  margin-bottom: 10px;
}

/* line 189, ../../app/stylesheets/admin.sass */
.fields {
  margin-bottom: 5px;
}

/* line 191, ../../app/stylesheets/admin.sass */
.thumb {
  position: relative;
  float: left;
  margin: 0 8px 8px 0;
}
/* line 195, ../../app/stylesheets/admin.sass */
.thumb a img {
  opacity: 0.8;
}
/* line 197, ../../app/stylesheets/admin.sass */
.thumb a.edit_subtitle {
  display: none;
  position: absolute;
  top: -6px;
  right: 12px;
}
/* line 202, ../../app/stylesheets/admin.sass */
.thumb a.cross {
  display: none;
  position: absolute;
  top: -6px;
  right: -6px;
}

/* line 207, ../../app/stylesheets/admin.sass */
.add_nested_fields {
  clear: left;
}

/* line 209, ../../app/stylesheets/admin.sass */
#form .button {
  margin-top: 10px;
}

/* line 212, ../../app/stylesheets/admin.sass */
label {
  margin-right: 20px;
  color: #222222;
  font-size: 15px;
}

/* line 217, ../../app/stylesheets/admin.sass */
.text_field, textarea, .file_field, select {
  color: #333333;
  font-size: 16px;
}

/* line 221, ../../app/stylesheets/admin.sass */
.text_field, textarea, .file_field {
  width: 400px;
}

/* line 224, ../../app/stylesheets/admin.sass */
.text_field, textarea, select {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #aaaaaa;
  border-top-color: #999999;
  padding: 3px 5px;
  background: url('/images/admin/field-background.png?1316560596') repeat-x #f8f8f8;
}

/* line 231, ../../app/stylesheets/admin.sass */
textarea {
  font-family: arial, helvetica, sans-serif;
  width: 600px;
  height: 200px;
  font-size: 13px;
}

/* line 237, ../../app/stylesheets/admin.sass */
.file_field {
  margin-bottom: 5px;
  background-color: #f8f8f8;
}

/* line 241, ../../app/stylesheets/admin.sass */
.button {
  overflow: hidden;
  *zoom: 1;
  -moz-box-shadow: 0 0 2px 0 #999999;
  -webkit-box-shadow: 0 0 2px 0 #999999;
  -o-box-shadow: 0 0 2px 0 #999999;
  box-shadow: 0 0 2px 0 #999999;
  float: left;
  border: solid 1px;
  border-color: #cccccc #b4b4b4 #999999 #b4b4b4;
  padding: 5px 20px 4px 20px;
  background: url('/images/admin/button-background.png?1316560596') repeat-x 0 0;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
/* line 254, ../../app/stylesheets/admin.sass */
.button:hover {
  background-position: 0 -32px;
}
/* line 256, ../../app/stylesheets/admin.sass */
.button:active {
  background-position: 0 -64px;
}
