/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290@tectus/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290@tectus/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290@tectus/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290@tectus/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290@tectus/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290@tectus/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290@tectus/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290@tectus/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p290@tectus/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../../app/stylesheets/_contact.sass */
#contact_page {
  overflow: hidden;
  *zoom: 1;
  margin-top: 80px;
  font-family: Arial;
}
/* line 5, ../../app/stylesheets/_contact.sass */
#contact_page form {
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../../app/stylesheets/_contact.sass */
#contact_page form #left {
  position: relative;
  float: left;
  width: 420px;
  height: 277px;
}
/* line 12, ../../app/stylesheets/_contact.sass */
#contact_page form #left #address {
  position: absolute;
  left: 0px;
  bottom: 10px;
  width: 200px;
  height: 45px;
  text-align: left;
  font-size: 9pt;
  line-height: 14px;
  color: #8796b5;
  letter-spacing: 1px;
}
/* line 23, ../../app/stylesheets/_contact.sass */
#contact_page form #right {
  float: right;
  width: 420px;
}
/* line 26, ../../app/stylesheets/_contact.sass */
#contact_page form #right table {
  border-collapse: separate;
  border-spacing: 15px;
}
/* line 31, ../../app/stylesheets/_contact.sass */
#contact_page form #right table tr td .field_group {
  width: 202px;
}
/* line 33, ../../app/stylesheets/_contact.sass */
#contact_page form #right table tr td .field_group label {
  font-size: 9pt;
  letter-spacing: 2px;
  color: white;
}
/* line 37, ../../app/stylesheets/_contact.sass */
#contact_page form #right table tr td .field_group .text_field {
  margin-top: 9px;
  height: 20px;
  width: 192px;
  background-color: #8796b5;
  border: none;
  color: white;
  padding: 0px 5px;
}
/* line 45, ../../app/stylesheets/_contact.sass */
#contact_page form #right table tr td .field_group .text_area {
  margin-top: 9px;
  height: 93px;
  width: 420px;
  background-color: #8796b5;
  border: none;
  color: white;
  padding: 3px 5px;
}
/* line 53, ../../app/stylesheets/_contact.sass */
#contact_page form .button {
  cursor: pointer;
  float: right;
  width: 79px;
  height: 14px;
  margin-top: 5px;
  border: none;
  background-color: #172140;
  background-image: url("/images/enviar.png");
}

/* line 1, ../../app/stylesheets/_menu.sass */
#menu {
  float: right;
  font-size: 11pt;
  margin-top: 40px;
}
/* line 5, ../../app/stylesheets/_menu.sass */
#menu #office {
  float: left;
  width: 67px;
  height: 11px;
  background: url(/images/escritorio.png);
}
/* line 10, ../../app/stylesheets/_menu.sass */
#menu #office:hover {
  background-image: url(/images/escritorio_over.png);
}
/* line 12, ../../app/stylesheets/_menu.sass */
#menu #office_current {
  float: left;
  width: 67px;
  height: 11px;
  background-image: url(/images/escritorio_over.png);
}
/* line 17, ../../app/stylesheets/_menu.sass */
#menu #projects {
  float: left;
  margin-left: 25px;
  width: 57px;
  height: 14px;
  background-image: url(/images/projetos.png);
}
/* line 23, ../../app/stylesheets/_menu.sass */
#menu #projects:hover {
  background-image: url(/images/projetos_over.png);
}
/* line 25, ../../app/stylesheets/_menu.sass */
#menu #projects_current {
  float: left;
  margin-left: 25px;
  width: 57px;
  height: 14px;
  background-image: url(/images/projetos_over.png);
}
/* line 31, ../../app/stylesheets/_menu.sass */
#menu #buildings {
  float: left;
  width: 37px;
  height: 11px;
  margin-left: 25px;
  background-image: url(/images/obras.png);
}
/* line 37, ../../app/stylesheets/_menu.sass */
#menu #buildings:hover {
  background-image: url(/images/obras_over.png);
}
/* line 39, ../../app/stylesheets/_menu.sass */
#menu #buildings_current {
  float: left;
  width: 37px;
  height: 11px;
  margin-left: 25px;
  background-image: url(/images/obras_over.png);
}
/* line 45, ../../app/stylesheets/_menu.sass */
#menu #researches {
  float: left;
  width: 53px;
  height: 11px;
  margin-left: 25px;
  background-image: url(/images/estudos.png);
}
/* line 51, ../../app/stylesheets/_menu.sass */
#menu #researches:hover {
  background-image: url(/images/estudos_over.png);
}
/* line 53, ../../app/stylesheets/_menu.sass */
#menu #researches_current {
  float: left;
  width: 53px;
  height: 11px;
  margin-left: 25px;
  background-image: url(/images/estudos_over.png);
}
/* line 59, ../../app/stylesheets/_menu.sass */
#menu #contact {
  float: left;
  width: 52px;
  height: 9px;
  margin: 2px 0px 0px 25px;
  background-image: url(/images/contato.png);
}
/* line 65, ../../app/stylesheets/_menu.sass */
#menu #contact:hover {
  background-image: url(/images/contato_over.png);
}
/* line 67, ../../app/stylesheets/_menu.sass */
#menu #contact_current {
  float: left;
  width: 52px;
  height: 9px;
  margin: 2px 0px 0px 25px;
  background-image: url(/images/contato_over.png);
}

/* line 1, ../../app/stylesheets/_office.sass */
#text_content {
  width: 325px;
  height: 285px;
  float: left;
  text-align: justify;
  margin-top: 85px;
  font-size: 9pt;
  line-height: 1.2em;
  color: #8796b5;
}
/* line 10, ../../app/stylesheets/_office.sass */
#text_content .list-group {
  margin: 25px 0px 15px 0px;
}
/* line 12, ../../app/stylesheets/_office.sass */
#text_content li {
  list-style: disc;
  margin: 3px 0px 0px 15px;
}

/* line 15, ../../app/stylesheets/_office.sass */
#image {
  float: right;
  padding: 80px 0px 80px 80px;
}

/* line 13, ../../app/stylesheets/application.sass */
body {
  text-align: center;
  background-color: #172140;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -305px 0px 0px -420px;
}
/* line 20, ../../app/stylesheets/application.sass */
body #header {
  width: 840px;
  height: 90px;
  margin: auto;
}
/* line 24, ../../app/stylesheets/application.sass */
body #header #logo {
  float: left;
  margin-top: 25px;
}
/* line 27, ../../app/stylesheets/application.sass */
body #content {
  margin: auto;
  width: 840px;
  height: 450px;
  background-color: #172140;
  font-family: "Arial";
  overflow: hidden;
  *zoom: 1;
}
/* line 34, ../../app/stylesheets/application.sass */
body #footer {
  width: 840px;
  height: 70px;
  margin: auto;
  font-family: "Arial";
}
/* line 39, ../../app/stylesheets/application.sass */
body #footer a {
  color: #8796b5;
  text-decoration: none;
}
/* line 42, ../../app/stylesheets/application.sass */
body #footer a:hover {
  color: white;
}
/* line 44, ../../app/stylesheets/application.sass */
body #footer #contact {
  float: right;
  font-size: 11pt;
  margin-top: 40px;
}
/* line 48, ../../app/stylesheets/application.sass */
body #footer #fatorp {
  float: left;
  font-size: 9pt;
  margin-top: 41px;
  letter-spacing: 1px;
}
