#home_page
  #header
    width: 840px
    height: 90px
    #logo
      float: left
      margin-top: 25px
    #menu
      float: right
      font-size: 11pt
      font-family: Arial
      margin-top: 40px
      a
        color: #8796b5
        margin-left: 25px
        text-decoration: none
      a:hover
        color: white
  .ad-gallery
    .ad-image-wrapper
      .ad-image
        .ad-image-description
    .ad-nav
      #ad-back
      #ad-forward
      .ad-back
      .ad-thumbs
        .ad-thumb-list
