@import "compass/reset"
@import "compass/css3/text-shadow"
@import "compass/css3/box-shadow"
@import "compass/css3/border-radius"
@import "compass/utilities/general/clearfix"


@import "home"
@import "contact"
@import "menu"
@import "office"

body
  text-align: center
  background-color: #172140
  #header
    width: 840px
    height: 90px
    margin: auto
    #logo
      float: left
      margin-top: 25px
  #content
    margin: auto
    width: 840px
    height: 450px
    background-color: #172140
    font-family: "Arial"
    +clearfix
  #footer
    width: 840px
    height: 70px
    margin: auto
    font-family: "Arial"
    a
      color: #8796b5
      text-decoration: none
    a:hover
      color: white
    #contact
      float: right
      font-size: 11pt
      margin-top: 40px
    #fatorp
      float: left
      font-size: 9pt
      margin-top: 41px
      letter-spacing: 1px
